docker.enabled = true
workDir = System.getenv('NXF_WORK') ?: '/srv/imputed/nf_runtime/nf_work'

executor {
  name = 'local'
  cpus = 11
  memory = '90 GB'
}

process {
  withName: STANDARDIZE {
    cpus = 1
    memory = '10 GB'
    maxForks = 5
  }

  withName: HARMONIZE {
    cpus = 1
    memory = '4 GB'
    maxForks = 11
  }

  withName: IMPUTE {
    cpus = 1
    memory = '10 GB'
    maxForks = 4
  }
}