docker.enabled = true
workDir = "$HOME/nf_work"

process {
  withName: HARMONIZE {
    cpus   = 4         // what harmonizer actually uses
    memory = '10 GB'
    maxForks = 4       // up to 4 samples harmonized in parallel
  }

  withName: IMPUTE {
    cpus   = 4         // Beagle uses nthreads=2 from your logs, 4 is fine
    memory = '10 GB'   // enough for -Xmx8g + overhead
    maxForks = 2       // <<< only one impute container at a time
  }
}