docker.enabled = true
docker.runOptions = "--cpuset-cpus ${System.getenv('NEXTFLOW_CPUSET') ?: '11-21'}"
workDir = System.getenv('NXF_WORK') ?: '/srv/imputed/nf_runtime/nf_work'

executor {
  name = 'local'
  cpus = 11
  memory = '70 GB'
}

trace {
  enabled = true
  file = "${System.getenv('NF_REPORT_DIR') ?: '/srv/imputed/nf_runtime/nf_reports'}/imputation_trace_${new Date().format('yyyyMMdd-HHmmss')}.txt"
  overwrite = true
  fields = 'task_id,process,tag,status,exit,attempt,realtime,duration,%cpu,peak_rss,peak_vmem,rchar,wchar'
}

timeline {
  enabled = true
  file = "${System.getenv('NF_REPORT_DIR') ?: '/srv/imputed/nf_runtime/nf_reports'}/imputation_timeline_${new Date().format('yyyyMMdd-HHmmss')}.html"
  overwrite = true
}

report {
  enabled = true
  file = "${System.getenv('NF_REPORT_DIR') ?: '/srv/imputed/nf_runtime/nf_reports'}/imputation_report_${new Date().format('yyyyMMdd-HHmmss')}.html"
  overwrite = true
}

process {
  withName: STANDARDIZE {
    cpus = 1
    memory = '10 GB'
  }

  withName: HARMONIZE {
    cpus = 1
    memory = '4 GB'

  }

  withName: IMPUTE {
    cpus = 1
    memory = '10 GB'
    maxForks = 6
  }

  withName: CALCULATE_ANCESTRY {
    cpus = 1
    maxForks = 11
  }

}